
#botao {
  background-color: #969797;
  color: white;            
  padding: 8px 15px;     
  font-size: 16px;         
  border: none;           
  border-radius: 5px;     
  cursor: pointer;       
  transition: background-color 0.3s ease; 
  margin-right: 10px;
  text-decoration: none;
}


#botao:hover {
  background-color: rgb(122, 122, 122); 
}

#botao:active {
	position:relative;
	top:1px;
}