:root {
  --cor-fundo-principal: #e6e6e6;
  --cor-fundo-secundario: #e4e4e4;
  --cor-borda: #E0E0E0;
  --cor-texto-mutado: #757575;
  --cor-texto-principal: #212121;
  --cor-destaque-preto: #000000;
}

body{

   margin: 0;
  padding: 0;
}
html {
  background-color: var(--cor-fundo-principal);
 

}